<script type="text/javascript">
//     var prevSize_btn;

//     $('#sendBtn').click(function(){
//         $('#myModal').modal();

//     })

//     $('#calbtn').click(function() {


//     if($('#calbtn').hasClass('btn-primary')!=true){
//         $('#calContainer').append('<div class="well span12" id="calendar" style="background-color:white;"></div>');
//         $('#calbtn').addClass('btn-primary');
//     }
//     else{
//         $('#calendar').remove();
//         $('#calbtn').removeClass('btn-primary');
//     }

//     openCalendar();



//     });

//     function Resize(j)
//     {
//     //console.log(this)
//     if($('#AdServices').hasClass('btn-primary')!=1){
//         $('#btn_bar').css('height',500);
//         $('#AdServices').addClass('btn-primary');
//     }else{
//         $('#btn_bar').css('height',70);
//         $('#AdServices').removeClass('btn-primary');
//     }

//     }

//     function openCalendar(){

//     $('#calendar').fullCalendar({
//       });
// }
</script>